# 通义千问
QWEN_API_KEY=
QWEN_BASE_URL=

# Runway 视频生成
RUNWAYML_API_SECRET=

# 豆包实时语音对话
DOUBAO_APP_ID=
DOUBAO_ACCESS_KEY=
DOUBAO_APP_KEY=

# 豆包 Seed 1.6 图片理解
DOUBAO_SEED_URL=http://oneapi-test.cds8.cn/v1/chat/completions
DOUBAO_SEED_API_KEY=
